@font-face {
  font-family: 'Neo Sans Arabic';
  src: url(../fonts/NeoSansArabic.ttf);
}

@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat.ttf);
}

body {
  background: #F3F5F7;
  color: #1C1C28;
  font-size: 15px;
  font-family: 'Neo Sans Arabic';
  direction: rtl;
  line-height: 28px;
}

.card {
  border-radius: 8px;
  border: 1px solid #EBEBEB;
  background: #FFF;
}

.select-box {
  background: #FAFAFA;
  border: 1px solid #E8E8E8;
  padding: 5px 8px;
  border-radius: 5px;
  outline: unset;
}

.ticket-page {
  padding: 50px;
}

.ticket-page .header-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.ticket-page .header-part .title-page {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ticket-page .header-part .title-page a {
  border-radius: 8px;
  background: #E7EAED;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-page .header-part .title-page h3 {
  font-size: 18px;
  font-weight: normal;
}

.ticket-page .header-part .controls .edit-btn {
  border-radius: 4px;
  border: 1px solid #E9EAEA;
  background: #F9F9F9;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 15px;
  font-size: 16px;
}

.ticket-page .chart-and-ticket {
  display: flex;
  gap: 30px;
}

.ticket-page .chart-and-ticket .chart-card {
  width: 100%;
  padding-bottom: 10px;
}

.ticket-page .chart-and-ticket .header-chart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  padding: 10px 25px;
}

.ticket-page .chart-and-ticket .header-chart .title-chart h5 {
  font-size: 17px;
  font-weight: normal;
}

.ticket-page .chart-and-ticket .header-chart .title-chart p {
  color: #99A1B7;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.ticket-page .chart-and-ticket .chart {
  height: 180px;
  direction: ltr;
}


.ticket-page .chart-and-ticket .ticket-box {
  width: 400px;
  min-width: 400px;
  background: #8a74f9;
  color: #fff;
  padding: 20px 5px;
  border-radius: 13px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ticket-page .chart-and-ticket .ticket-box::before {
  content: '';
  background-image: url(../img/wava-line.svg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.ticket-page .chart-and-ticket .ticket-box .title-box {
  text-align: center;
  margin-bottom: 12px;
}

.ticket-page .chart-and-ticket .ticket-box .delete-ticket {
  position: absolute;
  top: 24px;
  left: 20px;
  background: unset;
  border: 0;
  padding: 0;
  outline: unset;
  display: flex;
}

.ticket-page .chart-and-ticket .ticket-box .title-box h5 {
  font-size: 16px;
  font-weight: normal;
}



.ticket-page .chart-and-ticket .ticket-box .ticket-link {
  border-radius: 8px;
  border: 1px dashed #DDD;
  background: #FFF;
  display: flex;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 6px 7px;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.ticket-page .chart-and-ticket .ticket-box .ticket-link p {
  color: #1C1C28;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.ticket-page .chart-and-ticket .ticket-box .ticket-link .copy-ticket {

  border: 0;

  background: unset;

  outline: unset;
}

.ticket-page .chart-and-ticket .ticket-box .ticket-link img {
  display: flex;
}

.ticket-page .chart-and-ticket .ticket-box .expiry-date {
  text-align: center;
  display: block;
  font-size: 13px;
}

.ticket-page .chart-and-ticket .ticket-box .line {
  border-bottom: 2px dashed #ffffff66;
  margin: 20px 0;
  position: relative;
}

.ticket-page .chart-and-ticket .ticket-box .line::after,
.ticket-page .chart-and-ticket .ticket-box .line::before {
  content: '';
  position: absolute;
  top: -17px;
  left: -25px;
  width: 34px;
  height: 34px;
  background: #f3f5f7;
  border-radius: 50%;
}

.ticket-page .chart-and-ticket .ticket-box .line::before {
  left: auto;
  right: -25px;
}

.ticket-page .chart-and-ticket .ticket-box .offer-and-qr {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 15px;
}

.ticket-page .chart-and-ticket .ticket-box .offer-and-qr .discount-share {
  display: flex;
  align-items: end;
  gap: 15px;
}

.ticket-page .chart-and-ticket .ticket-box .offer-and-qr .discount-share p {
  font-size: 17px;
}

.ticket-page .chart-and-ticket .ticket-box .offer-and-qr .discount-share p span {
  font-family: 'montserrat';
  display: block;
  font-size: 20px;
}

.ticket-page .chart-and-ticket .ticket-box .offer-and-qr .discount-share .share-btn {
  border-radius: 4px;
  border: 1px solid #FFF;
  background: unset;
  color: #fff;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}

.ticket-page .chart-and-ticket .ticket-box .offer-and-qr .qr-code {
  width: 82px;
  height: 82px;
}

.ticket-page .ticket-sales .filters-and-booking {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 15px 0;
}

.ticket-page .ticket-sales .filters-and-booking .title-part {
  font-size: 18px;
  font-weight: normal;
}

.ticket-page .ticket-sales .filters-and-booking .search-filters {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ticket-page .ticket-sales .filters-and-booking .search-filters .search-box {
  position: relative;
}

.ticket-page .ticket-sales .filters-and-booking .search-filters .search-box img {
  position: absolute;
  right: 10px;
  top: 10px;
}

.ticket-page .ticket-sales .filters-and-booking .search-filters .search-box .search-input {
  border: 1px solid #92a1ad66;
  outline: unset;
  padding: 8px;
  padding-right: 40px;
  border-radius: 6px;
  width: 270px;
}

.ticket-page .ticket-sales .filters-and-booking .search-filters .search-box .search-input::placeholder {
  color: #92a1ad66;
}

.ticket-page .ticket-sales .filters-and-booking .search-filters .btn-filters {
  background: #fff;
  border: 1px solid #d3d9de;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-page .ticket-sales .filters-and-booking .status-and-booking {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 25px;
}

.ticket-page .ticket-sales .filters-and-booking .status-and-booking .ticket-status {
  display: flex;
  align-items: center;
  gap: 7px;
}

.ticket-page .ticket-sales .filters-and-booking .status-and-booking .ticket-status label {
  display: inline-block;
  height: 23px;
  position: relative;
  width: 44px;
}

.ticket-page .ticket-sales .filters-and-booking .status-and-booking .ticket-status input {
  display: none;
}

.ticket-page .ticket-sales .filters-and-booking .status-and-booking .ticket-status .slider-btn {
  background-color: #e4e1f0;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border-radius: 50px;
}

.ticket-page .ticket-sales .filters-and-booking .status-and-booking .ticket-status .slider-btn:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 16px;
  border-radius: 50%;
}

.ticket-page .ticket-sales .filters-and-booking .status-and-booking .ticket-status input:checked+.slider-btn {
  background-color: #8A74F9;
}

.ticket-page .ticket-sales .filters-and-booking .status-and-booking .ticket-status input:checked+.slider-btn:before {
  transform: translateX(21px);
}

.ticket-page .ticket-sales .filters-and-booking .status-and-booking .ticket-status .text-status {
  color: #9C9D9F;
}

.ticket-page .ticket-sales .filters-and-booking .status-and-booking .booking-btn {
  border-radius: 6px;
  background: #8A74F9;
  padding: 13px 10px;
  border: 0;
  color: #fff;
}

.ticket-page .ticket-sales .table-tickets {
  width: 100%;
  border-spacing: 0;
  padding: 4px;
}

.ticket-page .ticket-sales .table-tickets thead {
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

.ticket-page .ticket-sales .table-tickets th {
  padding: 5px;
  color: #ABAAB1;
  font-weight: normal;
  background: #e3e4e940;
}

.ticket-page .ticket-sales .table-tickets th:first-child {

  border-radius: 0 5px 5px 0;
}

.ticket-page .ticket-sales .table-tickets th:last-child {

  border-radius: 5px 0 0 5px;
}

.ticket-page .ticket-sales .table-tickets td {
  padding: 5px;
  border-bottom: 1px solid #F3F3F5;
  text-align: center;
}

.ticket-page .ticket-sales .table-tickets .user-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ticket-page .ticket-sales .table-tickets .user-details .circle-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #038CB7;
  color: #fff;
}

.ticket-page .ticket-sales .table-tickets .user-details .circle-icon.bg-gray {
  background: #898E95;;
}

.ticket-page .ticket-sales .table-tickets .user-details .circle-icon span{
  text-transform: capitalize;
}

.ticket-page .ticket-sales .table-tickets .user-details img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.ticket-page .ticket-sales .table-tickets .user-details .user-name h6 {
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
}

.ticket-page .ticket-sales .table-tickets .user-details .user-name p {
  color: #92A1AD;
  font-size: 13px;
  line-height: 20px;
}

.ticket-page .ticket-sales .table-tickets .download-ticket {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ticket-page .ticket-sales .table-tickets .download-ticket .ticket-icon {
  border-radius: 8px;
  background: #8a74f91a;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-page .ticket-sales .table-tickets .download-ticket .ticket-icon img {
  width: 24px;
  height: 24px;
}

.ticket-page .ticket-sales .table-tickets .download-ticket .ticket-details h6 {
  color: #000;
  display: flex;
  gap: 2px;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
}

.ticket-page .ticket-sales .table-tickets .download-ticket .ticket-details p {
  color: rgba(0, 0, 0, 0.40);
  display: flex;
  gap: 5px;
  align-items: center;
  line-height: 20px;
  font-size: 14px;
}

.ticket-page .ticket-sales .table-tickets .download-ticket .ticket-details p b {
  text-transform: uppercase;
}

.ticket-page .ticket-sales .table-tickets .download-ticket .download-btn {
  display: flex;
  margin-right: 20px;
}

.ticket-page .ticket-sales .table-tickets .download-ticket .download-btn img {
  width: 24px;
  height: 24px;
}

.ticket-page .view-and-pagination {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 15px;
}

.ticket-page .view-and-pagination .show-rows {
  display: flex;
  gap: 7px;
  align-items: center;
  font-size: 14px;
}

.ticket-page .view-and-pagination .show-rows .select-box {
  background: #fff;
}

.ticket-page .pagination-list {
  display: flex;
  gap: 8px;
  align-items: center;
  list-style: none;
}

.ticket-page .pagination-list .page-item {
  color: #7E8299;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transition: .3s;
}

.ticket-page .pagination-list .page-item:hover {
  background: #f3f1fe;
}

.ticket-page .pagination-list .page-item.disabled {
  opacity: .5;
  pointer-events: none;
}

.ticket-page .pagination-list .page-item.active {
  color: #fff;
  background: #8a74f9;
}

.ticket-page .pagination-list .page-item a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ticket-page .pagination-list .page-item:first-child img {
  transform: rotateY(180deg);
}